/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Make your sections visible */
body {
	/*background-color: LightGray;*/
}
div {
	/*border: 1px solid Chocolate;*/
}
/* Overall style */
body {
	color: #1D1E21;
	font-size: 1em;
	font-family: "roboto", sans-serif;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}
/* Sections */
.top-nav > .content,
.feature > .content,
.social > .content {
	width: 960px;
	margin: 0 auto;
	background-color: white;
}
.top-nav > .content {
	width: auto;
	min-width: 39.375em;
	padding: 0 1em;
	color: #838994;
	height: 70px;
}
.logo {
	height: 4.375em;
}
.nav-link {
	float: right;
	margin-top: 1.69em;
}
.nav-link > li,
.social-link > li {
	display: inline-block;
	list-style: none;
}
.nav-link > li {
	margin-left: 2em;
}
.nav-link > .active {
	color: #4c5058;
	font-weight: 600;
}
.nav-link li:hover {
	cursor: pointer;
	color: #333333;
}
.intro {
	background-image: url('http://thinkful-ed.github.io/karma-clone/img/first-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	height: 24em;
	padding-top: 12em;
	margin-bottom: 7em;
}
.intro > h1,
.intro > h3 {
	color: white;
	text-align: center;
	font-weight: 300;
}
.cta {
	display: block;
	margin: 2em auto;
	height: 2.4375em;
	width: 10.6875em;
	text-shadow: none;
	border-style: none;
	border-radius: 0.25em;
	line-height: 1.33;
	background-color: #f15a29;
	border-color: #f15a29;
	color: white;
	font-size: 1.125em
}
.cases {
	text-align: center;
	margin: 1em auto;
	font-size: 3em;
	color: #1d1e21;
}
.subfeature {
	width: 32.7%;
	display: inline-block;
	height: 4em;
	text-align: center;
}
.social > .content {
	border-top: 0.075em solid #EAEBEC;
	background-color: white;
	margin-top: 8em;
	padding: 1.5em 0;
	text-align: center;
}
.social-link > li {
	margin: 1em 0.5em;
	border-radius: 50%;
	padding-top: 0.5em;
	width: 2em;
	height: 1.5em;
	border: 1px solid #EAEBEC;
}
.twitter {
	color: #55acee;
}
.facebook {
	color: #4c66a4;
}
.twitter {
	color: #3f729b;
}
.copyright {
	color: #838994;
	font-weight: 100%;
	font-size: 0.75em;
}
h1 {
	font-size: 3em;
}
h3 {
	margin-top: 1em;
	font-size: 1.563em;
}
button:hover {
	cursor: pointer;
	background-color: #d94001;
}